*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --background: black;
  --color: white;
  --font: "Roboto", sans-serif;
}
html,
body{
  max-width: 100%;
  overflow-x: none;
  background-color: #091652;
  /* background-color: #003651; */
  color: white;
}
section,
footer{
  overflow-x: hidden;
}
/* the header/navigation of this website */
.home-page{
  display: flex;
  align-content: center;
  justify-content: center;
}
/* .home-img{
  display: bl;
  width: 100%;
  height: 10vh;
  position: relative;
   z-index: 99; 
  top:0px;
  object-fit:cover
} */
.overlay{
  position: absolute;
  top: 110px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); */
  background-color: rgba(5, 34, 78, 0.671);
  background-size: auto, cover;
  background-position: 0% 0%, 50% 0%;
  width: 50%;
  /* width: 860px; */
  height: 85.3vh;
  /* background-attachment: fixed; */
}
.overlay h2{
  width: 800px;
}
.contents{
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}
.swiper-slide h2{
  text-align: center;
  font-size: 2.375em;    
  line-height: 1.5;    
  text-transform: uppercase;
  color: var(--color);
  font-family: var(--font);
  font-weight: 700;
}
.contact-h2{
  font-size: 30px;
  line-height: 1.5;   
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  max-width: 700px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
#mission-p{
  width: 400px;
}
.swiper-slide  p, 
.contents p{
  width: 800px;
  font-size: 1.1em;
  letter-spacing: 0.025rem;  
  font-weight: 400; 
  color: #DEDEDE;
  font-family: var(--font);
  /* margin-bottom: 30px; */
  cursor: pointer;
}
.home-btn{
  margin-top: 10px;
}
.btn-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}
button{
  background-color: #042ab9;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  column-gap:10px;
  width: auto;
  height: 2.875rem;
  line-height: 20px;
  padding: 0 1.4375rem;
  letter-spacing: 0.025rem;
  font-size: 1em;
  font-weight: 500;
  border-radius: 2.5rem;
  transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  border: none;
  outline: none;
  font-family: var(--font);
  cursor: pointer;
}
button:hover{
  /* opacity: 0.8; */
  scale: 1.05;
}
button:active{
  scale: 0.95;
}

/* the second section of this page  */
.diesel-container,
.refinery-container,
.support-container,
.footer-container{
  padding: 8rem 4rem;
  width: 100%;
  /* margin-top:50px; */
}
.diesel-container{
  /* margin-top: 620px; */
}
.table-container{
  padding: 6rem 4rem 0 4rem;
}
.bg-green{
  width: 30px;
  height:30px;
  background-color: green;
  border-radius:100%;
}
.product-text,
.about-us-h,
.service,
.refinery-col h2{
  text-align: center;
  color: #878484;
  font-family:var(--font);
  letter-spacing: 0.025rem;
  width: calc(100% + 0.025rem);
  font-size: 1.825em;
  line-height: 2;
  font-weight: 700;
  padding-bottom: 2rem;
}
.card-dv{
  width: 25.875%;
  height: max-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 80px
}
.card-img{
  height: auto;
  width: 320px;
  max-width: 100%;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.card-text-cont{
  font-family: var(--font);
  font-size: 22px;
  /* width: 220px; */
  font-weight: bold;
  text-align:left;
  margin-top: -30px;
  color: #5e5d5d;
}
.dsel-cont--sec{
  padding-top: 35rem;
}
.row,
.refinery-row{
  display: flex;
  /* align-items: baseline; */
  /* justify-content: space-between; */
  column-gap: 30px;
}
.service-row{
  column-gap: 100px;
  display:flex;
  align-items:flex-start;
  justify-content: center;
}
.p-content,
.p-refinery{
  color: #d3d1d1;
  font-family: var(--font);
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0.025rem;
}
.about-us-h{
  text-align: left;
}
.col,
.refinery-col{
  width: calc(50% + 3rem / 2);
  overflow: hidden;
}
.ref-contents,
.about-txt-contents{
  width: 980px;
}
.sec-col{
}
.diesel-pic{
  object-fit: cover;
  object-position: center;
  width: 500px;
  height: 250px;
  vertical-align: top;
  /* margin-bottom: 30px; */
  margin-left: 70px;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
.abt-img-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  cursor: pointer;
}
.abt-img-contents span{
  margin-left: 70px;
  /* padding: 4px 175px 4px 175px; */
  background-color: lightgray;
  color: rgb(110, 110, 110);
  font-family: var(--font);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 17px;
  font-weight: 400;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
.abt-img-contents .tnk-strg{
  padding: 4px 177px 4px 177px;
}
.abt-img-contents .log-svcs{
  padding: 4px 171px 4px 172px;
}
.abt-img-contents .ship-svcs{
  padding: 4px 175px 4px 176px;
}

/* section four the surverqur page  */
.surverqur{
  position: relative;
  overflow-y:hidden;
}
.surverqur img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 400px;
}
#surverqur-overlay{
  top: 200px;
  left: 805px;
  right: 0;
  height: 200px;
  width: 805px;
}
#surverqur-overlay2{
  top: 0;
  bottom: 0;
  left: 0;
  bottom:0;
  height: 220px;
  width: 805px;
}

/* section five the refinery container  */
.support-div h2{
  color: #d3d1d1;
  font-family: var(--font);
  letter-spacing: 0.025rem;
  width: calc(100% + 0.025rem);
  font-size: 16;
  line-height: 1.75;
  margin-bottom: 20px;
}
.refinery-col h2{
  text-align:left
}
.refinery-img-div{
  width: 100%;
}
.refinery-img{
  object-fit: cover;
  object-position: center;
  width: 590px;
  height: 245px;
  margin-bottom: 20px;
}

/* section six support page  */
.footer-container{
  background-color: #042ab9;
  color: var(--color);  
}
.support-div,
.footer-div{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  overflow-y:hidden;
}
.footer-div h1{
  color: var(--color);
  font-family: var(--font);
  letter-spacing: 0.025rem;
  width: calc(100% + 0.025rem);
  font-size: 2em;
  line-height: 1.75;
  font-weight: 700;
}
.contact-details{
  color: #CCCACA;
  font-family: var(--font);
  letter-spacing: 0.025rem;
  width: calc(100% + 0.025rem);
  font-size: 0.875em;
  line-height: 2;
  font-weight: 400;
}
.contact-email{
  color: #CCCACA;
  font-family: var(--font);
  letter-spacing: 0.025rem;
  width: calc(100% + 0.025rem);
  font-size: 1.2em;
  line-height: 2;
  font-weight: 700;
}


/* tablet screen size for navigation */
@media only screen and (max-width: 768px){
  .overlay {
    height: 100vh;
    width: 100%;
  }
  .surverqur{
    display: flex;
    flex-direction: row;
  }
  #surverqur-overlay {
    top: 210px;
    left: 0;
    right: 0;
    height: 190px;
    width: 100%;
  }
  #surverqur-overlay2 {
    top: 0;
    bottom: 0;
    left: 0;
    bottom: 0;
    height: 210px;
    width: 100%;
  }
  .diesel-container, 
  .table-container, 
  .refinery-container, 
  .support-container, 
  .footer-container {
    padding: 4rem 4rem;
    max-width: 768px;
    /* margin: 0 auto; */
  }
  /* .dsel-cont--sec{
    padding-top: 55rem;
  } */
  .diesel-pic,
  .abt-img-contents {
    margin-left: 0;
    width: 100%;
  }
  .abt-img-contents span{
    margin-left: 0;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .row, 
  .refinery-row {
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
  }
  .service-row {
    flex-direction: column-reverse;
  }
  .p-content, 
  .p-refinery {
    width: 100%;
    font-size: 18px;
  }
  .contents {
    width: 668px;
  }
  .contact-h2{
    font-size: 2em;    
    line-height: 1.5;    
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .contents p{
    width: 600px;
    font-size: 1.1em;
  }
  /* Table Side  */
  .table-row {
    flex-direction: column;
    row-gap: 10px;
  }
  .table-col {
    width: 100%;
    margin-bottom: 30px;
    overflow-y: scroll;
  }
  .table02-col {
    width: 100%;
  }
  .table02-col img {
    width: 74vh;
  }

  /* Refinery Side */
  .col, .refinery-col {
    width:100%;
  }
  .refinery-img {
    width: 100%;
    margin-bottom: 30px;
  }
  .refinery-col h3, 
  .support-div h2 {
    font-size: 26px;
  }

  /* footer side */
  .footer-div h1 {
    font-size: 2.5em;
  }
  .contact-details {
    font-size: 0.975em;
  }
  .contact-email {
    font-size: 1.2em;
  }
}

/* Phone Screen size  */
@media only screen and (max-width: 600px){
  body,
  html{
    width: 100%;
  }
  
  .brand {
    width: 300px;
  }
  .home-page {
    width: 100%;
  }
  .overlay {
    /* width: 100%; */
    height: 85vh;
    top: 76px;
    padding: 1rem 2rem;
  }
  .swiper-slide  p, 
  .contents p{
    width: 360px;
    font-size: 1em
  }
  .btn-container {
    flex-direction: column;
    column-gap: 0;
    width: 100%;
  }
  button {
    width: 40%;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
  }
  .diesel-container, 
  .table-container, 
  .refinery-container, 
  .support-container, 
  .footer-container {
    padding: 2rem 2rem;
    width: 100%;
    row-gap: 20px;
  }
  .about-us-h {
    text-align: left;
    font-size: 24px;
  }
  .p-content, 
  .p-refinery {
    width: 100%;
    font-size: 18px;
  } 
  #mission-p {
    width: 100%;
  }
  .diesel-pic {
    width: 100%;
  }
  .abt-img-contents span {
    /* padding: 4px 100px 4px 100px; */
    text-align:center;
    font-size: 14px;
  }
  .abt-img-contents .tnk-strg,
  .abt-img-contents .log-svcs,
  .abt-img-contents .ship-svcs {
    padding: 6px 80px 6px 80px;
  }
  .table02-col img {
    width: 100%;
  }
  .col, .refinery-col {
    width:100%;
  }
  .refinery-img-div{
    width: 100%;
  }
  .refinery-img {
    width: 100%;
    /* width: 100%; */
  }
  /* .footer-container {
    padding-bottom: 50px;
  } */
}
@media only screen and (max-width: 475px){
  html,
  body{
    width: 100%;
  }
  .overlay {
    width: 100%;
    height: 89vh;
  }
  .home-img {
    width: 100%;
  }
  .swiper-slide h2 {
    text-align: center;
    font-size: 35px;
    width: 100%;
  }
  .contents h2 {
    font-size: 22px;
  }
  .contents p {
    width: 100%;
    font-size: 14px;
  }
  button {
    width: 100%;
    margin-bottom: 20px;
  }
  .diesel-container, .table-container, .refinery-container, .support-container, .footer-container {
    padding: 6rem 2rem;
    width: 100%;
    /* row-gap: 20px; */
  }
  .p-content, 
  .p-refinery {
    width: 100%;
    font-size: 18px;
  }
  .diesel-pic {
    width: 100%;
  }
  .table02-col img {
    width: 100%;
  }
  .surverqur-overlay{
    top: 0;
    height: 60vh;
  }
  #surverqur-overlay {
    top: 210px;
    left: 0;
    height: 220px;
    width: 100%;
}
  #surverqur-overlay2 {
    height: 210px;
    width: 100%;
  }
  .contents {
    width: 100%;
  }
  .refinery-col img {
    width: 100%;
  }
  .refinery-col h3, 
  .support-div h2 {
    font-size: 20px;
  }
  .footer-div h1 {
    font-size: 2em;
  }
  .contact-details {
    font-size: 0.875em;
  }
  .contact-email {
    font-size: 0.9em;
  }
}

/* @media only screen and (max-width: 375px){
  .p-content, 
  .p-refinery {
    width: 52vh;
  }
  .diesel-pic {
    width: 52vh;
  }
  .table02-col img {
    width: 52vh;
  }
  .refinery-img {
    width: 52vh;
  }
} */